@tailwind base;
@tailwind components;
@tailwind utilities;

.bottom-gradient-shadow {
  position: relative; /* Ensure the element can position its pseudo-element */
}

.bottom-gradient-shadow::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 20px; /* Adjust the height of the shadow as needed */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: linear-gradient(90deg, #7b6e62 0%, #d5c0b2 50.72%, #7b6e62 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: add a subtle shadow if needed */
  z-index: -1; /* Ensure the gradient shadow is behind the content */
}
.gradient-custom1 {
  background: linear-gradient(-45deg, #7b6e62 0%, #b8a496 100%);
}
.carousel-status {
  display: none;
}
.carous_review .control-arrow {
  display: none;
}
.carousel {
  padding: 0 !important;
  margin: 0 !important;
}
.carous_review .carousel .control-dots {
  bottom: 0px !important;
  left: -10px;
}
.carous_review .control-dots .dot {
  background-color: grey !important;
}
.carous_review .control-dots .selected {
  width: 10px !important;
  height: 10px !important;
}

.carousal_awardwin .control-dots {
  display: none;
}

.carousal_awardwin .control-prev,
.control-next {
  margin-top: 2.5rem !important;
  background: linear-gradient(75deg, #7b6e62 0%, #000000 100%) !important ;
  border-radius: 10px; /* Adjusted border radius */
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Rotate by -45 degrees */
}
/* Add this CSS to your global styles */
.border-gradient-bottom {
  position: relative;
  overflow: hidden;
}

.border-gradient-bottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px; /* Adjust the height as needed */
  background: linear-gradient(90deg, #7b6e62 0%, #d5c0b2 50.72%, #7b6e62 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* z-index: 1; */
}
.MuiAccordion-root {
  border-radius: 10px !important;
}
.accordian_main_class {
  background-color: #7b6e62 !important;
}
