.pagination {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin-top: 20px; /* Add margin for spacing */
}

.pagination .active {
  display: flex; /* Enable flexbox for alignment */
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
  font-weight: bold;
  color: #7b6e62; /* Active color */
  background-color: #eeedec;
  font-size: 24px;

  height: 50px;
  width: 50px;
  border-radius: 100px; /* Circular shape */
  margin: 0 5px; /* Add horizontal spacing between items */
}
.pagination .page {
  display: flex; /* Enable flexbox for alignment */
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
  font-weight: bold;
  font-size: 24px;
  height: 50px;
  width: 50px;
  border-radius: 100px; /* Circular shape */
  margin: 0 5px; /* Add horizontal spacing between items */
}
.pagination .previous,
.pagination .next {
  cursor: pointer;
  display: flex; /* Enable flexbox for alignment */
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
  font-weight: bold;
  color: #7b6e62; /* Active color */
  margin: 0px 20px 0px 20px;
}
